# Environnemnent virtuel
venv/
.env/

# Fichiers temporaires
*.log
*.tmp

# Python caches
__pycache__/
*.pyc

# Dossier photos
Data/

results/
lighter_pictures/

test_phi.txt
test_y.txt

# Photos 
*.jpg
*.jpeg
*.png